exportPattern("^[[:alpha:]]+")
import("data.table")

export(RNAseq_GSEAheatmaps)
export(cite_RNAseqGSEA)
export(excel2List)
export(read.gmt)
export(sig2UpDownGmt)
export(summariseSignatures)
export(table2tabs)
export(tabs2table)
export(valueCoordinates)
export(write.gmt)
